{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home/welcome.css') }}">
{% endblock %}
{% block body %}
    <section id="podcasts">
        <div class="row">
            <div id="browse-podcasts-title" class="col-xs-12 col-sm-4 double-border-right home-title"><h1>LES<br />PODCASTS</h1></div>
            <div id="browse-podcasts" class="col-xs-12 col-sm-8 home-background-display"></div>
        </div>
        <div class="row margin-top-medium">
            <div id="latest-podcasts-title" class="col-xs-12 col-sm-4 double-border-right home-title"><h1>DERNIERS<br />PODCASTS AJOUT&Eacute;S</h1></div>
            <div id="latest-podcasts" class="col-xs-12 col-sm-8 home-background-display">
                {% for podcast in podcasts %}
                <h2 class="col-xs-3 col-sm-2">{{ podcast.name }}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="row margin-top-medium">
            <div id="latest-episodes-title" class="col-xs-12 col-sm-4 double-border-right home-title"><h1>DERNIERS<br />&Eacute;PISODES AJOUT&Eacute;S</h1></div>
            <div id="latest-episodes" class="col-xs-12 col-sm-8 home-background-display"></div>
        </div>
    </section>
{% endblock %}