#browse-podcasts {

}

#browse-podcasts-title {
    background-color: #60DE55;
}

.home-background-display {
    background-repeat:  none;
    background-size:    cover;
}

.double-border-right {
    color:          #fff;
    border-bottom:  0px solid transparent;
    border-left:    0px solid transparent;
    border-right:   30px solid white;
    border-style:   double;
    border-top:     30px solid transparent;
}

.home-title {
    font-weight:    bold;
    padding-left:   2%;
    padding-top:    20%;
}

.home-title:hover {
    background-color: red;
}

#latest-episodes-title {
    background-color: #C47;
}

#latest-podcasts-title {
    background-color: #11242D;
}

.podcast-img {
    background-color: #11242D;
    border-right: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.podcast-img img{
    max-width: 200px; 
}

#podcasts div {
    height: 300px;  
}

#podcast-star img {
    max-height: 300px;
}